/* Universal */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Roboto, sans-serif, arial;
    /* background: #6a4bd9; */
}

/* Html and body  */

html,
body {
    font-size: 14px;
    font-weight: 400;
    background: #000000;
    color: #fff;
}

/* images */

img {
    width: 100%;
    padding: 0px 50px;
    padding-top: 16px;
    margin-top: 80px;
    border-radius: 50%;
    object-fit: cover;
    
}

/* Utility classes */

.bgblack {
    background: black;

}

.container {
    width: 1100px;
    margin: 0px auto;
    display: table;
    
}

.width33 {
    width: 33%;
    float: left;
}

.width66 {
    width: 66%;
    float: left;
}

.width50 {
    float: left;
    width: 50%;
}

.widing50{
    width: 50%;
    /* row-gap: 20px; */
    display: flex;
}



.widing55{
    display: flex;
    /* gap: 0; */
}

.skill{
    gap: 0;
}

.width5055{
    float: right;
    width: 50%;
}

.width100 {
    width: 100%;
    float: left;
}

.bglightgrey {
    background-color: #1a1a1a;

}

/* Main section  */

.mainpannel {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.logo {
    font-size: 40px;
    font-weight: 600;
}

.spancol {
    color: #ffbf35;
}

/* navbar section  */

nav {
    float: right;
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    color: white;
}

/* Welcome page  */

.bannersection {
    width: 100%;
    float: left;
    margin-top: 25vh;
}

.bannersection h1 {
    font-size: 48px;
    margin-top: 10px;
    font-weight: bolder;
}

.bannersection h2 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 400;
}

.bannersection a {
    float: left;
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #ffbf35;
    color: #ffbf35;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    line-height: 50px;
}


/* main sections */

.mainsection {
    width: 100%;
    float: left;
    padding: 110px 0px 110px 0px;
}


.mt20 {
    margin-top: 20px;
}

.headingtext {
    width: 100%;
    float: left;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
    color: #ffbf35;
}

/* about section  */

.about {
    width: 100%;
    float: left;
    padding: 20px;
}

.aboutimage {
    width: 100%;
    padding: 0px 50px;
    margin-top: 80px;
}

.about p {
    font-size: 16px;
    margin-top: 15px;
    text-align: justify;
    line-height: 27px;
}

/* table section  */

table {
    width: 100%;
}

table th,
table td {
    font-size: 16px;
    text-align: left;
    padding: 5px 0px;
}

/* skill section  */

.skill {
    margin-top: 30px;
    font-size: 17px;
    width: 50%;
}

/* .skill span {
    float: right;
} */

.skill div {
    width: 100%;
    /* float: left; */
    /* display: flex; */
    margin-top: 5px;
    /* background: #e7e7e7; */
    border-radius: 10px;
}

.im{
    display: flex;
    justify-content: space-around;
    /* align-items: baseline; */
    /* padding: 15px; */
}

.skill b{
    margin-left: 80px;
}

.skill svg{
    margin: 60px;
}

.skill div span {
    background: #ffbf35;
    height: 10px;
    float: left;
    border-radius: 10px;
}

.div[role=progressbar] {
    color: #ffbf35;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    place-items: center;
    display: grid;
    --pgPercentage: var(--value);
    background: radial-gradient(closet-side, black 80%, transparent 0 99.9%, black 0),
        conic-gradient(#ffbf35 calc(var(--pgPercentage)*1%), #ffe6af 0);
}

/* resume */

.eduexp {
    padding: 10px 0px;
    width: 100%;
    float: right;
}

.experiencelist {
    width: 100%;
    float: right;
    padding: 30px 10px;
    background: #262626;
    
}

.experiencecontent {
    width: 300px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 450px;
    /* text-align: center; */
}

.experiencecontent a{
    padding: 16px 35px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 35px;
    letter-spacing: 2px;
    color: #fff;


}
a:hover{
    background-color: rgb(255, 181, 0);
}


/* contact section  */


.contact form {
    width: 60%;
    margin: 0px auto;
}

.contact input,
textarea {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;
    border: 1px solid #a1a1a1;
}

.contact textarea {
    height: 80px;
}

.contact button {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;
    background: #ffbf35;
    color: #fff;
    border: none;
    font-size: 16px;
}


/* details section  */

.icons h3 {
    font-size: 35px;
    margin-top: 20px;
    margin-left: 168px;
    color: #ffbf35;
    height: 50px;
    width: 50px;
    line-height: 50px;
}


.icons h4,
p {
    font-size: 1.3rem;
    margin: 5px 10px;
    text-align: center;
}

/* footer section  */

.footer {

    padding: 30px 0px 40px 0px;
    width: 100%;

}

.footersect {
    color: #b3b3b3;
}

.footersect a {
    color: #b3b3b3;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.social a {
    margin-top: 20px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
}